<div class="animate__animated animate__fadeIn animate__faster">
  <app-barra-cierre
    [dataReal]="formatoReal"
    [dataTemp]="formatos"
    (dataEmit)="filterFormato($event)"
  ></app-barra-cierre>
  <div class="container__recursos">
    <div>
      <button
        pButton
        style="margin: 1rem"
        label="Nuevo Formato"
        icon="pi pi-plus"
        class="p-button-success"
        (click)="putFormato()"
      ></button>
    </div>
    <div class="card__recursos" *ngFor="let formato of formatos">
      <span class="recurso__name">
        {{ formato.nombre | titlecase }}
      </span>
      <div>
        <button
          pButton
          style="margin-right: 1rem"
          class="p-button-warning"
          icon="pi pi-pencil"
          (click)="postFormato(formato)"
        ></button>
        <button
          pButton
          class="p-button-danger"
          icon="pi pi-times"
          (click)="deleteFormato(formato)"
        ></button>
      </div>
    </div>
  </div>
</div>
