.wrap-login100 {
  width: 90%;
  background: -webkit-linear-gradient(top, #454798, #911dc4);
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.container-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.container-form span {
  margin: 5px;
}

.inLine {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

span input .borderRed {
  border-color: #e24c4c;
}

.span__format {
  display: flex;
  flex-direction: column;
}
.wrap-login100 {
  width: 90%;
  background: -webkit-linear-gradient(top, #454798, #911dc4);
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.container-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.container-form span {
  margin: 5px;
}

.inLine {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

span input .borderRed {
  border-color: #e24c4c;
}

.span__format {
  display: flex;
  flex-direction: column;
}
.wrap-login100 {
  width: 90%;
  background: -webkit-linear-gradient(top, #454798, #911dc4);
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.container-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.container-form span {
  margin: 5px;
}

.inLine {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

span input .borderRed {
  border-color: #e24c4c;
}

.span__format {
  display: flex;
  flex-direction: column;
}
.wrap-login100 {
  width: 90%;
  background: -webkit-linear-gradient(top, #454798, #911dc4);
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.container-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.container-form span {
  margin: 5px;
}

.inLine {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

span input .borderRed {
  border-color: #e24c4c;
}

.span__format {
  display: flex;
  flex-direction: column;
}
.wrap-login100 {
  width: 90%;
  background: -webkit-linear-gradient(top, #454798, #911dc4);
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.container-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.container-form span {
  margin: 5px;
}

.inLine {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.none {
  display: none;
}

span input .borderRed {
  border-color: #e24c4c;
}

.span__format {
  display: flex;
  flex-direction: column;
}
