<div class="limiter">
  <div
    class="container-login100"
    style="background-image: url('assets/plugin/images/bg-01.jpg')"
  >
    <div class="wrap-login100">
      <form [formGroup]="userRegisterForm" class="login100-form validate-form">
        <span class="login100-form-title p-b-34 p-t-27"> Registro </span>
        <div class="container-form"></div>
        <hr class="mt-10 mb-10" />
        <div>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="Nombre"
              formControlName="Nombre"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="Apellidos"
              formControlName="Apellidos"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="Código Postal"
              formControlName="CP"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="Dirección"
              formControlName="Direccion"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="Población"
              formControlName="Poblacion"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="DNI"
              formControlName="DNI"
            />
          </span>
          <hr class="mt-10 mb-10" />
          <div>
            <span class="p-input-icon-left">
              <input
                type="text"
                pInputText
                placeholder="Email"
                formControlName="Email"
              />
            </span>
            <span class="p-input-icon-left span__format">
              <input
                type="password"
                pInputText
                placeholder="Contraseña"
                formControlName="Pw1"
              />
            </span>
            <span class="p-input-icon-left span__format">
              <input
                type="password"
                pInputText
                placeholder="Repite contraseña"
                formControlName="Pw2"
              />
            </span>
          </div>
        </div>
        <hr class="mt-10 mb-10" />
        <div>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="Nombre Titular"
              formControlName="NombreTitular"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="N° Tarjeta"
              formControlName="NumberCard"
            />
          </span>
          <span class="p-input-icon-left">
            <input
              type="text"
              pInputText
              placeholder="CVV"
              formControlName="CVV"
            />
          </span>
        </div>
      </form>
      <div class="container-form"></div>
      <hr class="mt-10 mb-10" />
      <div style="display: flex; justify-content: space-between">
        <div class="container-login100-form-btn mt-10">
          <button class="login100-form-btn" (click)="loginUserBtn()">
            Log in
          </button>
        </div>
        <div class="container-login100-form-btn mt-10">
          <button class="login100-form-btn" (click)="registerUser()">
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
