.closeBar {
  width: 100%;
  height: 20px;
  background-color: rgba(119, 119, 119, 0.431);
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  }
  .btn-close {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: #ff000096;
  cursor: pointer;
  transition: ease-in 0.2s;
  }
  .btn-close:hover {
  background-color: #ff0000ce;
  }
