<div class="animate__animated animate__fadeln animate__faster">
  <app-barra-cierre></app-barra-cierre>
  <div class="container__recursos">
    <div>
      <button
        pButton
        style="margin: 1rem"
        label="Nueva Edición"
        icon="pi pi-plus"
        class="p-button-success"
        (click)="putEdicion()"
      ></button>
    </div>
    <div class="card__recurso" *ngFor="let edicion of ediciones">
      <span class="recurso__name">
        {{ edicion.nombre | titlecase }}
      </span>
      <div>
        <button
          pButton
          style="margin-right: 1rem"
          class="p-button-warning"
          icon="pi pi-pencil"
          (click)="postEdicion(edicion)"
        >
          <!-- Editar -->
        </button>
        <button
        pButton
        class="p-button-danger"
        icon="pi pi-times"
        (click)="deleteEdicion(edicion)"
        ></button>
      </div>
    </div>
  </div>
</div>
