<div class="animate__animated animate__fadeIn animate__faster">
  <app-barra-cierre></app-barra-cierre>
  <div class="container">
    <div class="container__img">
      <img
        class="libro__img position__img"
        src="https://edit.org/images/cat/portadas-libros-big-2019101610.jpg"
        alt="Producto"
      />
      <img *ngIf="imgTemp" [src]="imgTemp" class="libro__img position__img" />
      <input
        type="file"
        (change)="changeImg($event)"
        style="padding-left: 2.5rem"
      />
    </div>
    <!-- Form -->
    <div class="container__form">
      <form [formGroup]="libroFormulario">
        <!-- Inputs group -->
        <div class="input__group">
          <div class="group__a">
            <!-- INPUT NAME -->
            <div>
              <div class="p_input_group">
                <span class="p-inputgroupaddon"
                  ><i class="pi pi-book"></i
                ></span>
                <input
                  type="text"
                  pInputText
                  placeholder="Nombre"
                  formControlName="nombre"
                />
              </div>
              <div *ngIf="isValidField('nombre')">
                <p style="color: rgb(255, 0, 0)">Campo requerido</p>
              </div>
            </div>
            <!-- INPUT ISBN-->
            <div>
              <div class="p_input_group">
                <span class="p-inputgroupaddon"
                  ><i class="pi pi-tags"></i
                ></span>
                <input
                  type="text"
                  pInputText
                  class="ng-invalid ng-dirty"
                  placeholder="ISBN"
                  formControlName="isbn"
                />
              </div>
              <div *ngIf="isValidField('isbn')">
                <p style="color: red">Campo requerido</p>
                <p style="color: red">Tamaño minimo 13</p>
              </div>
            </div>
            <!-- INPUT PRECIO-->
            <div>
              <div class="p_input_group">
                <span class="p-inputgroupaddon"
                  ><i class="pi pi-euro"></i
                ></span>
                <input
                  type="number"
                  pInputText
                  placeholder="Precio"
                  formControlName="precio"
                />
              </div>
              <div *ngIf="isValidField('precio')">
                <p style="color: red">Campo requerido</p>
              </div>
            </div>
            <!-- INPUT Cantidad-->
            <div>
              <div class="p_input_group">
                <span class="p-inputgroupaddon"
                  ><i class="pi pi-save"></i
                ></span>
                <input
                  type="number"
                  pInputText
                  placeholder="Cantidad"
                  formControlName="cantidad"
                />
              </div>
              <div *ngIf="isValidField('cantidad')">
                <p style="color: red">Campo requerido</p>
              </div>
            </div>
          </div>
          <div class="group__a">
            <!-- INPUT AUTOR -->
            <div>
              <p-dropdown
                [options]="autores"
                formControlName="autor"
                placeholder="Autor"
                optionLabel="nombre"
              ></p-dropdown>
              <div *ngIf="isValidField('autor')">
                <p style="color: red">Campo requerido</p>
              </div>
            </div>
            <!-- INPUT TEMA -->
            <div>
              <p-dropdown
                [options]="tema"
                formControlName="tema"
                optionLabel="nombre"
                placeholder="Tema"
              ></p-dropdown>
              <div *ngIf="isValidField('tema')">
                <p style="color: red">Campo requerido</p>
              </div>
            </div>
            <!-- INPUT EDICION -->
            <div>
              <p-dropdown
                [options]="edicion"
                formControlName="edicion"
                optionLabel="nombre"
                placeholder="Edición"
              ></p-dropdown>
              <div *ngIf="isValidField('edicion')">
                <p style="color: red">Campo requerido</p>
              </div>
            </div>
            <!-- INPUT FORMATO -->
            <div>
              <p-dropdown
                [options]="formato"
                formControlName="formato"
                optionLabel="nombre"
                placeholder="Formato"
              ></p-dropdown>
              <div *ngIf="isValidField('formato')">
                <p style="color: red">Campo requerido</p>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn__form">
        <button
          [disabled]="!libroFormulario.valid"
          pButton
          (click)="saveBook()"
          type="button"
          class="p-button-success"
          label="Guardar libro"
        ></button>
      </div>
    </div>
  </div>
</div>
